/* .test
{
    width: 300px;
    height: 300px;
    background-color: #09c;
    visibility: hidden;
    opacity: 0;
    display: none;
} */
/* Break points
576px  sm
768px md
992  lg
1200 xlg
*/
.test
{
    /* margin: 100px; */
    width: 1000px;
    height: 800px;
    /* background-color: #09c; */
    /* background: linear-gradient(180deg,blue ,red,rgb(60, 12, 218)); */
    /* background: radial-gradient(red 40%,blue 50%); */
    margin: auto;
    text-align: center;
    /* border-left: 10px solid red;
    border-right: 10px solid green;
    border-top: 10px solid black;
    border-bottom: 10px solid yellow; */
    transition: all 3s;

    /* transform: skewY(45deg); */


    /* transform: rotateX(180deg); */
    /* transform: scale(2); */
    /* background-color: yellow; */
    /* transition-property: width;
    transition-duration: 3s; */
    /* transition-delay: 2s; */
    /* transition-timing-function: ease-in; */
    /* transition: width 3s 0s ease ,background-color 5s ease; */
    /* transition: background-color 5s ease; */
    /* first one --> space from left depending on sign*/
    /* secon one --> space from top  depending on sign*/
    /* third one --> plur*/
     /* fourth one --> spread*/
    /* box-shadow: 5px 5px 15px 10px #3484eb , 15px 15px 15px 10px #5d045d  ; */
    /* box-shadow: 5px 5px 15px 10px red ; */
    overflow: hidden;
}
/* .test:hover .child
{
    /* width: 100%;
    background-color: red; */
    /* transform: rotate(180deg); */
    /* transform: scaleX(2); */
    /* transform: skewY(45deg); */
    /* transform: translateY(-100px); */
    /* transform: translateY(0px);
}  */
.parent 
{
    width: 500px;
    height: 500px;
    background-color: rgb(15, 233, 30);
    margin: auto; 
    /* padding: 1px; */
    /* border: 1px solid rgb(15, 233, 30); */
    overflow: auto;
}
.child
{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    transition: all 3s;
    transform: translateY(-300px);
}
h1
{
    font-size: 200px;
    text-shadow: 5px 5px 5px gray;
}

/* @media screen and (max-width:992px) {
    .test
    {
        width: 800px;
    }
    h1
    {
        font-size: 170px;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .test
    {
        width: 600px;
    }
    h1
    {
        font-size: 140px;
    }
}
@media screen and (min-width:576px) and (max-width:768px){
    .test
    {
        width: 400px;
    }
    h1
    {
        font-size: 100px;
    }
}
@media screen and (max-width:576px) {
    .test
    {
        width: 300px;
        background-color: red;
    }
    h1
    {
        font-size: 80px;
    }
} */