<div class="footer d-flex justify-content-between align-items-center p-4 mt-3">
  <div class="contact text-white">
    <h3>Contact Us</h3>
    <p>(+20) 01096600427</p>
    <p>yousefgmail.com</p>
  </div>
  <div class="icons">
    <h3 class="text-white">follow us</h3>
    <div class="icon-box d-flex">
      <div class="icon bg-white">
        <i class="fab fa-facebook text-primary fs-4 p-3"></i>
      </div>
      <div class="icon bg-white">
        <i class="fab fa-twitter text-info fs-4 p-3"></i>
      </div>
      <div class="icon bg-white">
        <i class="fab fa-youtube text-danger fs-4 p-3"></i>
      </div>
    </div>

  </div>
</div>
